.abotMe {
	background-color: #191919;

	img {
		border-radius: .25rem;
	}

	.nav-link {
		font-size: 1.2rem;
		font-weight: normal;

		&::after {
			@extend %border_bottom-noActive;
		}
	}

	.nav-link.active {
		&::after {
			@extend %border_bottom;
			width: 100%;
		}
	}
}