.hireMe {
	background-color: #191919;

	.form-control {
		@include backgroundPaddinBorder(transparent, hsla(0,0%,100%,.2), 1.5rem, 1rem, null);

		&:focus {
			@include backgroundPaddinBorder(transparent, hsla(0,0%,100%,.2), null, null, null);
			box-shadow: none;
		}
	}

	.btn-color {
		@include backgroundPaddinBorder(#f9004d, #f9004d, 15px, 40px, white);
		font-size: 16px;
		letter-spacing: 2px;
		border-radius: 6px;
		transition: transform .3s, background-color .3s, color .3s, border .3s;

		&:hover {
			@include backgroundPaddinBorder(transparent, #f9004d, null, null, #f9004d);
			transform: translateY(-5px);
		}

		&:focus {
			box-shadow: none;
		}
	}
}

@import '../layaut/mediaQuerysHireMe.scss';