.hireMe {
	background-color: #191919;

	.form-control {
		border: 2px solid hsla(0,0%,100%,.2);
		background-color: transparent;
		padding: 1.5rem 1rem;

		&:focus {
			border: 2px solid hsla(0,0%,100%,.2);
			background-color: transparent;
			box-shadow: none;
		}
	}

	.btn-color {
		border: 2px solid #f9004d;
    	background-color: #f9004d;
    	color: white;
    	padding: 15px 40px;
		font-size: 16px;
		letter-spacing: 2px;
		border-radius: 6px;
		transition: transform .3s, background-color .3s, color .3s, border .3s;

		&:hover {
			background-color: transparent;
			color: #f9004d;
			border: 2px solid #f9004d;
			transform: translateY(-5px);
		}

		&:focus {
			box-shadow: none;
		}
	}
}

@media (max-width: 900px) {
	.hireMe {
		.w-50 {
			width: 60% !important;
		}
	}
}

@media (max-width: 768px) {
	.hireMe {
		.w-50 {
			width: 70% !important;
		}
	}
}

@media (max-width: 638px) {
	.hireMe {
		.w-50 {
			width: 80% !important;
		}
	}
}

@media (max-width: 557px) {
	.hireMe {
		.w-50 {
			width: 90% !important;
		}
	}
}