.myWorks {
	background-color: #101010;
	color: white;

	p:first-child {
		font-size: 1.3rem;
		color: #c6c9d8;
	}

	.card {
		background-color: rgba(0, 0, 0, .2);
		position: relative;
	}

	.card-body {
		position: absolute;
		left: calc(50% - 99px);
		top: 50%;
	}
	
	.card-bg-5 {
		+.card-body {
			left: calc(50% - 110px);
		}
	}

	.btn {
		border: 2px solid rgba(255, 255, 255, 0.3);
		background-color: transparent;
		color: white;
		transition: .2s transform ease-in;

		&:hover {
			background-color: #f9004d;
			border: 2px solid #f9004d;
			transform: translateY(-3px);
			color: white !important;
		}

		&:focus {
			box-shadow: none;
		}
	}

	.py-5 {
		padding-bottom: 6rem !important;
	}

	.card-bg {
		background-size: cover;
		background-position: center center;
		height: 220px;
	}
	
	@for $i from 1 through 5 {

		.card-bg-#{$i} {
			background-image: url('../images/presentacion_#{$i}.png');

			@if $i == 2 or $i == 5 { opacity: .4; }
		}
	}
}

@media (min-width: 426px) and (max-width: 575px) {
	.container-cards {
		padding: 0 4rem;
	}
}