body {
	min-height: 100vh;
}

p {
	color: rgba(198,201,216,.75);
}


h1, h2 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: bold !important;
	color: white !important;
}

a {
	color: rgba(198,201,216,.75) !important;

	&:hover {
		color: rgba(198,201,216,.75) !important;
	}
}

@import './utilities/place-holder.scss';
@import './utilities/mixin.scss';

@import './components/card.scss';
@import './components/header.scss';
@import './components/modal.scss';
@import './components/arrow_up.scss';
@import './components/alert.scss';

@import './views/header.scss';
@import './views/navbar.scss';
@import './views/abotMe.scss';
@import './views/myService.scss';
@import './views/technologies.scss';
@import './views/myWorks.scss';
@import './views/projects.scss';
@import './views/hireMe.scss';
@import './views/footer.scss';