body {
	min-height: 100vh;
}

p {
	color: rgba(198,201,216,.75);
}


h1, h2 {
	font-family: 'Poppins', sans-serif !important;
	font-weight: bold !important;
	color: white !important;
}

@import './utilities/place-holder.scss';

@import './views/header.scss';
@import './views/navbar.scss';
@import './views/abotMe.scss';
@import './views/myService.scss';