.animate-outside {
	animation: animateOutside .2s forwards;
}

.animate-inside {
	animation: animateInside .2s forwards;
}

@keyframes animateOutside {
	0% {
		transform: translateY(0px);
		opacity: 1;
	}

	50% {
		transform: translateY(-35px);
	}

	100% {
		transform: translateY(-75px);
		opacity: 0;
	}
}

@keyframes animateInside {
	from {
		transform: translateY(65px);
	}

	to {
		transform: translateY(0px);
	}
}

@media (max-width: 767px) {
	.bg-header {
		h1, .container-carousel {
			font-size: 6.9vw;
		}
	}

	.bg-header-es {
		h1, .container-carousel {
			font-size: 6vw;
		}
	}

	.container-md {
		padding-right: 3rem;
		padding-left: 3rem;
	}
}

@media (max-width: 599px) {
	.container-md {
		padding-right: 2.5rem;
		padding-left: 2.5rem;
	}
}

@media (max-width: 499px) {
	.container-md {
		padding-right: 1.9rem;
		padding-left: 1.9rem;
	}
}

@media (max-width: 399px) {
	.container-md {
		padding-right: 1.6rem;
		padding-left: 1.6rem;
	}
}

@media (max-width: 320px) {
	.container-md {
		padding-right: 1.4rem;
		padding-left: 1.4rem;
	}
}