@media (max-width: 900px) {
	.hireMe {
		.w-50 {
			width: 60% !important;
		}
	}
}

@media (max-width: 768px) {
	.hireMe {
		.w-50 {
			width: 70% !important;
		}
	}
}

@media (max-width: 638px) {
	.hireMe {
		.w-50 {
			width: 80% !important;
		}
	}
}

@media (max-width: 557px) {
	.hireMe {
		.w-50 {
			width: 90% !important;
		}
	}
}