%border_bottom {
	transition: width .3s ease-in-out;
	display: block;
	content: '';
	background-color: #F9004D;
	width: 0;
	height: 3px;
	position: absolute;
	bottom: 0;
}

%border_bottom-noActive {
	transition: width .3s ease-in-out;
	display: block;
	content: '';
	background: rgba(198,201,216,.75);
	width: 15%;
	height: 3px;
	position: absolute;
	bottom: 0;
}

%img__technology-use {
	width: 50px;
	height: 50px;
	border: 2px solid rgba(198,201,216,.75);
	border-radius: 50%;
	padding: .2rem;
	transition: background-color .5s ease-in-out, border .5s ease-in-out, transform .2s;
}